<!DOCTYPE html>
<html>
<head>
  <title>统一登录passport</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

登录成功

<button type="button" class="btn btn-primary btn-sm" id="submit">退出登录</button>

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
;$(function(){
  $("#submit").on("click",function(){
    $.ajax({
      url: "http://auth.vquery.com/signOut",
      method: "get",
      dataType: 'json',
      contentType: 'application/json',
      xhrFields: {
        withCredentials: true
      },
      crossDomain: true,
        // context: document.body
//      data: JSON.stringify({
//        username: $("#username").val(),
//        password: $("#password").val(),
//      })
    }).done(function(data) {
      if(data.status===200){
        // window.location.reload();
        window.location.href = `http://auth.vquery.com/signIn`;
      }
      console.log('data', data)
    });
  });
});
</script>
</body>
</html>
