<!DOCTYPE html>
<html>
<head>
  <title>统一登录passport</title>
</head>
<body>


<h1>统一登录passport</h1>
<div>用户名：<input type="text" name="name" id="username" value="user" /></div>
<div>密码：<input type="text" name="password" id="password" value="21218cca77804d2ba1922c33e0151105" /></div>
<div><input type="submit" id='submit' value="登录"/></div>



<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
;$(function(){
	$("#submit").on("click",function(){
		$.ajax({
			url: "/signIn",
			method: "POST",
			dataType: 'json',
			contentType: 'application/json',
			// context: document.body
			data: JSON.stringify({
				username: $("#username").val(),
				password: $("#password").val(),
			})
		}).done(function(data) {
			if(data.status===200){
				// window.location.reload();
			}
			console.log('data', data)
		});
	});
});
</script>

</body>
</html>
